* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 5px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.birth h3,
p {
  display: inline-block;
  margin: 0;
}

img {
  width: 100%;
}

.place-to-visit__item {
  padding-bottom: 5px;
}
